/* imp! CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* imp! CSS VARIABLES */

:root{
    --common-bg-dark-blue: #100029;
    --common-transition: transform 0.5s,opacity 0.5s;
    --common-transition-1: transform 0.5s 0.5s,opacity 0.5s 0.5s;
}

/* imp! BODY CSS */

body{
    background-color: var(--common-bg-dark-blue);
}

/* imp! PAGE WRAPPER CSS */

input{
    display: none;
}

img{
    width: 100%;
}

.page-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-wrapper{
    display: flex;
    width: 80vw;
    min-height: 80vh;
    position: relative;
}

.section-1,.section-2{
    display: flex;
    width: 80vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.section-1{
    opacity: 1;
    z-index: 5;
    transition: var(--common-transition);
}

.section-2{
    opacity: 0;
    transition: var(--common-transition);
}

.image-container,.info-container{
    width: 50%;
    height: 100%;
}

.image-container{
    background-color: lightblue;
    overflow: hidden;
}

.info-container{
    background-color: lightsalmon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-2 .image-container,.section-2 .info-container{
    opacity: 0;
    transition: all 1s 0.7s;
}

.section-2 .image-container{
    transform: translateY(2rem);
}

.section-2 .info-container{
    transform: translateY(-2rem);
}

.section-1 .info-container h1,.section-2 .info-container h1{
    font-family: 'Open Sans';
    font-size: 30px;
    margin-bottom: 25px;
}

label{
    display: block;
    border: 2px solid var(--common-bg-dark-blue);
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Open Sans';
    transition: all 0.5s;
}

label:hover{
    background-color: var(--common-bg-dark-blue);
    color: #fff;
}

#toggle2:checked~.section-2{
    opacity: 1;
}

#toggle2:checked~.section-1{
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
}

#toggle2:checked~.section-2 .image-container, #toggle2:checked~.section-2 .info-container{
    opacity: 1;
    transform: translateY(0);
}

#toggle3:checked~.section-1{
    transition: var(--common-transition-1);
}

#toggle3:checked~.section-2 .image-container,#toggle3:checked~.section-2 .info-container{
    transition: var(--common-transition-1);
}