/*imp! CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*imp! BODY CSS */

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

/* imp! H1 TAG */

h1{
  color: coral;
  margin: 50px 0;
}

/* imp! FLEX CONTAINER CSS */

.flex-container{
  columns: 5 200px;
  column-gap: 24px;
  width: 90%;
  margin: 0 auto 50px;
}

.flex-container div{
  margin: 0 24px 24px 0;
  display: inline-block;
  border: 2px solid black;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

.flex-container div:hover img{
  filter: grayscale(0);
}

.flex-container div:hover{
  border-color: coral;
}

.flex-container div img{
  width: 100%;
  filter: grayscale(100%);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

.flex-container div p{
  margin: 5px 0;
  padding: 0;
  text-align: center;
  font-style: italic;
}