/*imp! CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*imp! BODY CSS */

body{
    font-family: 'Open Sans';
    background-color: rgb(239,238,243);
}

html{
    scroll-behavior: smooth;
}

/* imp! TOP BAR CSS */

.top-bar{
    padding: 40px 60px 10px;
    background-color: #fff;
    width: 100%;
}

.top-bar i{
    margin-right: 30px;
    font-size: 20px;
}

.logo{
    position: relative;
    left: 250px;
}

.search-input{
    position: relative;
    left: 450px;
}

.search-input input{
    padding: 15px;
    background-color: #efefef;
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 18px;
}

.search-input input:focus{
    outline: 0;
}

.search-input button{
    position: absolute;
    border: 0;
    background-color: #95ADBE;
    padding: 15px;
    color: #fff;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    height: 100%;
}

/* imp! NAVBAR CSS */

.nav-item,.logo,.search-input{
    display: inline-block;
}

.logo{
    vertical-align: middle;
}

nav{
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    padding: 30px;
    z-index: 1;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 40px;
    color: #444444;
}

main{overflow-x: hidden;}

/* imp! SECTION 1 CSS */

.section-1{
    padding: 70px;
    position: relative;
    left: 30px;
    background-image: url(./header-img.webp);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section-1 .section-1-content{
    margin-top: 140px;
}

.section-1 .section-1-content h1{
    font-size: 55px;
    width: 800px;
}

.section-1 .section-1-content p{
    font-size: 18px;
    margin: 15px 0 40px;
    line-height: 1.6;
}

.section-1 .section-1-content .view-btn,.section-1 .section-1-content .explore-btn{
    padding: 15px 25px;
    border: 0;
    border-radius: 5px;
    font-family: inherit;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
}

.section-1 .section-1-content .view-btn{
    background-color: #95ADBE;
}

.section-1 .section-1-content .explore-btn{
    border: 3px solid #95ADBE;
    color: #95ADBE;
    margin-left: 30px;
}

/* imp! SECTION-2 CSS */

.section-2{
    padding: 20px;
    background-color: #f5f4f0;
    text-align: center;
}

.section-2 .section-2-content{
    display: inline-block;
    margin: 50px;
}

.section-2-content h2{
    font-size: 45px;
}

.section-2-content p{
    text-transform: uppercase;
    margin-top: 10px;
}

/* imp! SECTION-3 CSS */

.section-3{
    padding: 30px;
    margin: 100px 170px;
}

.section-3 img{
    width: 550px;
    height: 550px;
    float: left;
}

.section-3-content{
    float: right;
    width: 500px;
}

.section-3-content span{
    color: #ff785D;
    letter-spacing: 2px;
    font-weight: bold;
}

.section-3-content h2{
    font-size: 45px;
    margin: 15px 0;
    line-height: 1.4;
}

.section-3-content p{
    line-height: 2;
    margin-bottom: 20px;
}

.section-3-content button{
    padding: 15px 25px;
    border-radius: 5px;
    font-family: inherit;
    font-weight: bold;
    border: 0;
    color: #fff;
    font-size: 16px;
    background-color: #95ADBE;
}

/* imp! SECTION-4 CSS */

.section-4{
    clear: both;
    text-align: center;
    padding-top: 70px;
}

.section-4 span{
    color: #ff785D;
    letter-spacing: 2;
    font-weight: bold;
    text-transform: uppercase;
}

.section-4 h2{
    font-size: 45px;
}

.section-4 .books-main-div{
    width: 100%;
    margin-top: 60px;
}

.section-4 .book-div{
    width: 400px;
    display: inline-block;
    margin-right: 30px;
}

.section-4 .book-div img{
    width: 240px;
    height: 300px;
    float: left;
}

.section-4 .book-div .book-content{
    float: right;
    width: 150px;
    margin-top: 30px;
    text-align: left;
    padding-left: 20px;
}

.section-4 .book-div .book-content h3{
    margin: 10px 0;
    font-size: 22px;
}

/*imp! FOOTER CSS */

.footer{
    background-color: #1A1A1A;
    color: #fff;
    padding: 100px 100px 70px;
    margin-top: 50px;
}

.footer-box{
    width: 400px;
    display: inline-block;
    margin-right: 30px;
}

.footer-box-2{
    position: relative;
    top: 15px;
}

.footer-box-3{
    position: relative;
    top: -15px;
}

.footer-box h4{
    font-size: 23px;
    margin-bottom: 20px;
}

.footer-box-2 a{
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}

.footer-box .icon-div{
    margin-top: 20px;
}

.footer-box .icon-div i{
    padding: 12px;
    background-color: #95ADBE;
    color: #fff;
    margin-right: 12px;
    border-radius: 100%;
    cursor: pointer;
}

.footer-box p{
    margin-bottom: 25px;
}

.copyright-txt{
    text-align: center;
    color: #fff;
    margin-top: 90px;
    font-size: 20px;
}